<!doctype html>
<html lang="en" xlmns:th ="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<h1>
	user is<span th:style="${isActive} ?  'color:green':'color:red' " 
	th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE'"> </span></h1>
	<h2 th:if= "${gender}=='M' ">Male</h2>
	<h2>female</h2>
	
	<div th:switch="${#lists.size(mylist)}">
	<h1 th:case="'0'">list contain zero element</h1>
	<h1 th:case="'1'">list contain 1 element</h1>
	<h1 th:case ="*">list has more than one </h1>
	</div>
</body>
</html>